body {
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    border: #dddddd;
}

div.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    padding: 0rem 3rem 0rem 3rem;
}
.bg-light {
    background: #ffffff;
    border: #cccccc;
}
.navbar-brand, .navbar-light {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 1rem 1rem 1rem;
    margin: 0 0 0 0;
}

.row {
    background: #ffffff;
    border: #cccccc;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav-item, .nav-link {
    color: #777777;
    padding: 10px 0 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

/* About Me Page */
img.Selfie {
    width: 15.625rem;
    height: 18.75rem;
    margin: 0 0.9375rem 0 0;
}

div.row.About, div.row.Portfolio, div.row.ThankYou2 {
    width: 90%;
    margin: 9% 5% 3% 5%;
    border: #dddddd;
    background: #ffffff;
    padding: 1.25rem 1.25rem 1.25rem;
}

/* Headlines */
div.row.AboutMe, div.row.PortfolioMe, div.row.ThankYou {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.1875rem solid #777777;
    padding: 0.5625rem 0 1.25rem 0;
    margin: 5% 5% 0 5%;
    width: 90%;
}

div.media-body {
    text-align: justify;
    color: #777777;
    margin: 0 0.625rem 0 0;
    font-size: 1.125rem;
}

/* Contact Page */
div.row.ContactMe {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.1875rem solid #777777;
    padding: 0.5625rem 0 1.25rem 0;
    margin: 5% 5% 0 5%;
    width: 75.7%;
}
div.row.Contact {
    width: 75.7%;
    margin: 9% 5% 3% 5%;
    border: #dddddd;
    background: #ffffff;
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
}

button.btn.btn-primary {
    background-color:#4aaaa5;
    background-repeat: no-repeat;
    color:#ffffff;
    border: none;
    cursor: pointer;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 40px;
    text-decoration: none;
}

a.Submit:visited {
    color: #ffffff;
}

div.row.ConnectWithMe {
    width: 13%;
    top: 10.5%;
    left: 81.9%;
}

h5.card-header.ConnectWithMe2 {
    color: #4aaaa5;
    font-size: 1.125rem;
    font-weight: bold;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 0.1875rem solid #777777;
    padding: 1.3125rem 0 1.25rem 0;
}

img.GitHubIcon {
    width: 51px;
    height: 51px;
}
img.LinkedInIcon {
    width: 60px;
    height: 60px;
}
img.OverflowIcon {
    width: 60px;
    height: 60px;
    padding: 2.5px 0 2.5px 0;
}

/* Portfolio Page */
img.Hangman {
    width: 160px;
    height: 200px;
}
h5.card-title.Hangman2, h5.card-title.RPG2, h5.card-title.Trivia2, h5.card-title.Rutgers2, h5.card-title.RockPaperScissors2 {
    background: #4aaaa5;
    color: #ffffff;
    width: 160px;
    text-align: center;
}

div.card-img-overlay.Hangman {
    padding: 0;
    top: 176px;
}

div.row.Portfolio {
    height: 60%;
}

img.RPG {
    width: 160px;
    height: 140px;
}
div.card-img-overlay.RPG {
    padding: 0;
    top: 116px;
}

img.Trivia {
    width: 160px;
    height: 110px;
}
div.card-img-overlay.Trivia {
    padding: 0;
    top: 110px;
}

img.Rutgers {
    width: 160px;
    height: 160px;
}
div.card-img-overlay.Rutgers {
    padding: 0;
    top: 157px;
}

img.RockPaperScissors {
    width: 160px;
    height: 160px;
}
div.card-img-overlay.RockPaperScissors {
    padding: 0;
    top: 157px;
}

/* Footer for Everyone */
div.card.footer {
    text-align: center;
    background: #666666;
    color: #ffffff;
    border-top: 0.25rem solid #4aaaa5;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}
.card-header {
    padding: 0;
}

/* For Tablet, 641px < 768px < 979px */
@media only screen and (max-width: 768px) {
    .navbar-nav {
        flex-direction: row;
    }
    div.row.AboutMe, div.row.PortfolioMe, div.row.ThankYou {
        margin: 12% 5% 0 7%;
        width: 86%;
    }
    div.row.About, div.row.Portfolio, div.row.ThankYou2 {
        margin: 21% 5% 3% 7%;
        width: 86%;
    }
    img.Selfie {
        width: 13.625rem;
        height: 16.75rem;
        margin: 0 0.9375rem 0 0;
    }
    div.media-body {
        font-size: 0.92rem;
    }
    div.row.ContactMe {
        margin: 12% 5% 0 7%;
        width: 86%;
    }
    div.row.Contact {
        width: 86%;
        margin: 21% 5% 3% 7%;
    }
    div.row.ConnectWithMe {
        display: none;
    }
}

/* For Phone, 640px and less */
@media only screen and (max-width: 640px) {
    .navbar {
        padding: 0rem 1.5rem 0rem 1.2rem;
    }
    .navbar-brand{
        margin: auto;
        padding: 1rem 6.5rem 1rem 6.5rem;
    } 
    .ml-auto {
        margin: auto;
    }
    div.row.AboutMe, div.row.PortfolioMe, div.row.ThankYou {
        margin: 24% 5% 0 7%;
        width: 86%;
    }
    div.row.About, div.row.Portfolio, div.row.ThankYou2 {
        margin: 35% 5% 3% 7%;
        width: 86%;
    }
    img.Selfie {
        width: 11.625rem;
        height: 14.75rem;
        margin: 0 0.9375rem 0 0;
    }
    div.media-body {
        font-size: 0.76rem;
    }
    div.row.ContactMe {
        margin: 24% 5% 0 7%;
        width: 86%;
    }
    div.row.Contact {
        width: 86%;
        margin: 35% 5% 3% 7%;
    }
    div.row.ConnectWithMe {
        display: none;
    }
}

/* For Large Devices, 980px and up */
@media screen and (min-width: 800px) and (max-width: 980px) {
    .navbar-nav {
        flex-direction: row;
    }
    div.row.AboutMe, div.row.PortfolioMe, div.row.ThankYou {
        margin: 9% 5% 0 5%
    }
    div.row.About, div.row.Portfolio, div.row.ThankYou2 {
        margin: 16% 5% 3% 5%;
    }
    div.row.ContactMe {
        margin: 9% 5% 0 5%;
        width: 65.7%;
    }
    div.row.Contact {
        width: 65.7%;
        margin: 16% 5% 3% 5%;
    }
    div.row.ConnectWithMe {
        width: 23%;
        top: 10.5%;
        left: 71.9%;
    }
}